html{
  background: #ecf0f5;
}
img{
  vertical-align: top;
}
.m-pagination .el-pagination{
  margin: 20px 0;
  float: right;
}
.button-add{
  float: right;
  margin-bottom: 10px;
}
.breadcrumb + .el-row{
  padding: 20px 20px 0;
}
.row-container{
  padding: 20px 1% 0 1%;
}
.row-container .el-tabs__item{
  background: #fff;
}
.row-container .el-table__body-wrapper{
  overflow: visible;
}
.row-container .cell .el-button--default{
    float: left;
    color: #3C8DBC;
    font-weight: bold;
}
.row-container .cell img{
  height: 80px;
  width: 80px;
}
.orange:not(.is-leaf){
  color: orange;
  font-weight: bold;
}
/* element-ui */
.search-box .el-select, .el-form-item__content .el-select{
  width: 100%;
}
.authorize-dialog .el-dialog__body{
  padding: 10px 20px;
}
.authorize-dialog .el-dialog__header{
  border-bottom: 1px solid #f4f4f4;
}
.authorize-dialog .img-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 10px;
}
.authorize-dialog .img-box img{
  width: 150px;
  height: 150px;
  box-shadow: 0 0 5px #ddd;
  cursor: pointer;
}
.authorize-dialog .button-box button, .authorize-dialog .button-box .el-select{
  width: 100%;
  margin-left: 0;
  margin-bottom: 10px;
}
.img-dialog img{
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px #ddd;
}
.el-form--label-top .el-form-item__label{
  padding: 0;
}
.el-upload__input{
  display: none !important;
}
