html{
  background: #ecf0f5;
}
img{
  vertical-align: middle;
  border: 0;
}
.el-submenu__icon-arrow{
  margin-top: -5px;
}
.sidebar-menu .iconfont:not(.icon-circle-o){
  font-size: 22px;
  margin-right: 5px;
}
.m-pagination .el-pagination{
  margin: 20px 0;
  float: right;
}
.button-add{
  float: right;
  margin-bottom: 10px;
}
.button-add + .button-add{
  margin-right: 20px;
}
.breadcrumb + .el-row{
  padding: 20px 20px 0;
}
.row-container{
  padding: 20px 1% 0 1%;
}
.row-container .el-tabs__item{
  background: #fff;
}
.row-container .el-table__body-wrapper{
  /* overflow: visible; */
}
.row-container .cell .el-button--default{
    float: left;
    color: #3C8DBC;
    font-weight: bold;
}
.row-container .cell img{
  height: 80px;
  width: 80px;
}
.orange:not(.is-leaf){
  color: orange;
  font-weight: bold;
}
/* element-ui */
.search-box .el-select, .el-form-item__content .el-select, .el-form-item__content .el-date-editor--datetimerange{
  width: 100%;
}
.el-form-item__content .el-date-editor--datetimerange .el-range-input{
  width: 45%;
}
.authorize-dialog .el-dialog__body{
  padding: 10px 20px;
}
.authorize-dialog .el-dialog__header{
  border-bottom: 1px solid #f4f4f4;
}
.authorize-dialog .img-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 10px;
}
.authorize-dialog .img-box img{
  width: 150px;
  height: 150px;
  box-shadow: 0 0 5px #ddd;
  cursor: pointer;
}
.authorize-dialog .button-box button, .authorize-dialog .button-box .el-select{
  width: 100%;
  margin-left: 0;
  margin-bottom: 10px;
}
.img-dialog img{
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px #ddd;
  display: block;
}
.el-form--label-top .el-form-item__label{
  padding: 0;
}
.el-upload__input{
  display: none !important;
}
.page-edit .title{
  text-align: center;
  margin-bottom: 20px;
}
.page-edit .submit{
  float: right;
  margin-bottom: 20px;
}
.separate + .separate::before{
  content: '/ ';
  color: #ddd;
}
.el-dialog {
  overflow: hidden;
}
.main-sidebar a.activeMenu{
  color: #fff;
  background: #1e282c;
  border-left-color: #3c8dbc !important;
}
.img-idCard img{
  width: 342.4px;
  height: 216px;
}
.inline-form .el-form-item__content{
  width: calc(100% - 80px);
  float: left;
}
.inline-form .el-form-item__label{
  width: 80px;
}
.sidebar-menu .active-menu {
  color: #fff !important;
  background: #1e282c !important;
  border-left-color: #3c8dbc !important;
  position: relative;
}
.treeview-menu .active-menu:before{
  content: "";
  background: #1e282c;
  display: block;
  position: absolute;
  left: -5px;
  top: 0;
  height: 100%;
  width: 5px;
}
@media screen and (max-width: 415px){
  .filter-right{
    width: 100% !important;
  }
}
.meetingQueue > label{
  visibility: hidden;
}
.queue-box{
  overflow: hidden;
}
.queue{
  width: 50%;
  float: left;
  min-width: 340px;
}
.el-loading-mask{
  z-index: 3000;
}
.queue-box .queue .el-date-editor--timerange.el-input__inner{
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}
.el-date-editor .el-range-separator{
  width: 30px;
}
.form-container{
  width: 75%;
  margin: auto;
  padding-top: 20px;
}
.time-queue .el-form-item{
  width: calc(25% - 10px);
  min-width: 160px;
  max-width: 350px;
}
.time-queue .el-date-editor--timerange.el-input__inner, .time-queue .el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 100%;
  min-width: 160px;
  max-width: 350px;
}
.yt-form .button-box{
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
